
table{
    color: black;
}
img{
    height: 25px;
    width: 25px;
}
select{
    height: 35px;
    width: 100px;
}
.gamedaytable{
    text-align: center;
}
.preference{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 700;
    
}