
<select [(ngModel)]="selectedLeague" (change)="onLeagueChange()">
  <option *ngFor="let league of leagues" [ngValue]="league">{{league}}</option>
</select>


<table>
  <tr>
    <td>Pos</td>
    <td></td>
    <td>Name</td>
    <td>Games</td>
    <td>Points</td>
  </tr>
  <tr *ngFor="let team of table; index as i" class="table table-striped">
    <td style="text-align: center">{{ i + 1 }}</td>
    <td><img src="{{ team.TeamIconUrl }}" /></td>
    <td>{{ team.TeamName }}</td>
    <td>{{ team.Matches }}</td>
    <td>{{ team.Points }}</td>
  </tr>
</table>
