
<div class="body">
    <div class="navbar">
		 <h1 class="header" >TwoFootball</h1> 
	</div>

    <hr>
    <form>  
        <h2>Login</h2> 
             
        <div class="inputs-container">
                <input [(ngModel)]="UserEmail" type="text" name="UserEmail" placeholder="Email">
                
        </div>
        Sie haben noch kein Konto? <br>
        <a class="register" [routerLink] = "['/register']">Jetzt registrieren!</a> <br>
        <button type="submit" (click)="checkMail()" [routerLink] = "['/results']" value ="submit">submit</button> <br>     <!--[routerLink] = "['/results']"-->
    </form>
</div>