<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header">
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">TwoFootball</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link">Mein&nbsp;Verein</a>
      <a class="mdl-navigation__link" (click)="onLeagueChange('bl1')">1.Bundesliga</a>
      <a class="mdl-navigation__link" (click)="onLeagueChange('bl2')" >2.Bundesliga</a>
      <a class="mdl-navigation__link" (click)="onLeagueChange('bl3')">3.Bundesliga</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><app-show-table></app-show-table></div>
  </main>
</div>
